BOT_TOKEN=1234567890:hfcjhvjhbgfjhgfjhgfjhgfjhgfjhgjhgfjhgf
CHAT_ID=1234567
CAM_USER=admin
CAM_PASSWORD=password
CAM_FTP_PASSWORD=another_password
CAM_IP=192.168.66.36
CAM_NAME=Room Camera
CAM_SENSITIVITY=low or high
